<%= form_with(model: diet, local: true) do |form| %>
  <% if diet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(diet.errors.count, "error") %> prohibited this diet from being saved:</h2>

      <ul>
        <% diet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.datetime_select :start_date %>
  </div>

  <div class="field">
    <%= form.label :final_date %>
    <%= form.datetime_select :final_date %>
  </div>

  <div class="field">
    <%= form.label :weight %>
    <%= form.text_field :weight %>
  </div>

  <div class="field">
    <%= form.label :height %>
    <%= form.text_field :height %>
  </div>

  <div class="field">
    <%= form.label :ideal_weight %>
    <%= form.text_field :ideal_weight %>
    <br>

    <%= link_to_add_association 'Adicionar Refeição', form, :snacks, 
    'data-association-insertion-node' => "#snacks ol", 
    'data-association-insertion-method' => "append" %>
    
    <hr/>
     <br>
    <fieldset id="snacks">
      <ol> 
        <%= form.fields_for :snacks do |snack| %>
         <%= render partial: "snack_fields", locals: { f: snack } %> 
         <% end %> 
        </ol> 
    </fieldset>

  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
