<div class="page-header">
  <%= link_to new_diet_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Diet
  <% end %>
  <h1>Listing diets</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Start date</th>
            <th>Final date</th>
            <th>Weight</th>
            <th>Height</th>
            <th>Ideal weight</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @diets.each do |diet| %>
        <%= content_tag :tr, id: dom_id(diet), class: dom_class(diet) do %>
                      <td><%= diet.start_date %></td>
                      <td><%= diet.final_date %></td>
                      <td><%= diet.weight %></td>
                      <td><%= diet.height %></td>
                      <td><%= diet.ideal_weight %></td>
                    <td><%= link_to 'Show', diet %></td>
          <td><%= link_to 'Edit', edit_diet_path(diet) %></td>
          <td><%= link_to 'Destroy', diet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
