<p id="notice"><%= notice %></p>

<p>
  <strong>Snack:</strong>
  <%= @snack.snack %>
</p>

<p>
  <strong>Time:</strong>
  <%= @snack.time %>
</p>

<p>
  <strong>Description:</strong>
  <%= @snack.description %>
</p>

<p>
  <strong>Diet:</strong>
  <%= @snack.diet_id %>
</p>

<%= link_to 'Edit', edit_snack_path(@snack) %> |
<%= link_to 'Back', snacks_path %>
