<div class="page-header">
  <%= link_to snacks_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_snack_path(@snack), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show snack</h1>
</div>

<dl class="dl-horizontal">
  <dt>Snack:</dt>
  <dd><%= @snack.snack %></dd>

  <dt>Time:</dt>
  <dd><%= @snack.time %></dd>

  <dt>Description:</dt>
  <dd><%= @snack.description %></dd>

  <dt>Diet:</dt>
  <dd><%= @snack.diet %></dd>

</dl>
